<launch>
    <!-- Run path navigation -->
    <node pkg="path_planning" type="path_navigation" name="path_navigation" output="screen" />

    <!-- Run Turn Controller -->
    <node pkg="wall_follower" type="turn_controller" name="turn_controller" output="screen" >
    </node>

    <node pkg="odometry_estimate" type="pose_estimation" name="pose_estimation" />
    <node pkg="transforms" type="ir_transform_node" name="ir_transform" output="screen" />

    <include file="$(find transforms)/launch/transforms_launch.launch" />

</launch>

